<style>
	.putaway { border-collapse:collapse; }
	.putaway th, .putaway td { border:1px solid #000; padding:4px 8px; font-size:14px; }
	.putaway th { background-color:#ddd; }

	#scan-errors { display:none; border:1px solid #ffc; background-color:#fcc; font-weight:bold; margin-bottom:10px; padding:4px; }

	.error { background-color:#fcc; }
	.error th, .error td { background-color:#fcc; }

	.waiting { background-color:#ffc; }
	.waiting th, .waiting td { background-color:#ffc; }
</style>
<td id="page-body">
	{{#has_errors?}}
		<br>ERRORS:<br>
		{{#errors}}{{{.}}}<br>{{/errors}}
	{{/has_errors?}}

	<!--ul id="physical_count_tabs">
		<li id="physical_counts">Physical Counts</li>
		{{#upload}}
		<li id="physical_count_upload" class="">Upload Physical Count</li>
		{{/upload}}
		<li id="physical_count_ipns" class="">Physical IPNs {{^ipns}}[E]{{/ipns}}</li>
		<li id="physical_count_bins" class="">Physical Bins {{^bins}}[E]{{/bins}}</li>
		<li id="scan_count" class="">Scan Count {{^ipns}}[E]{{/ipns}}</li>
	</ul-->
	<!--div id="physical_count_tabs-body">
		<div id="physical_counts-content">
			<form enctype="multipart/form-data" id="counts-form" action="/admin/physical-count.php" method="post">
				<input type="hidden" name="action" value="manage_count">
				<table id="physical_count_list" class="physcount">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Status</th>
							<th>Action</th>
							<th>Upload</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>NEW</td>
							<td><input type="text" placeholder="Count Nickname" name="new_count_name"></td>
							<td></td>
							<td></td>
							<td></td>
							<td><input type="submit" value="Create"></td>
							<td></td>
						</tr>
						{{#physical_counts}}
						<tr class="{{#active}}active{{/active}}">
							<td>{{physical_count_id}}</td>
							<td>{{count_name}}</td>
							<td>{{start_date}}</td>
							<td>{{end_date}}</td>
							<td>{{#active}}Active{{/active}}</td>
							<td>
								{{#active}}
								<a href="/admin/physical-count.php?action=finish&amp;physical_count_id={{physical_count_id}}" class="finish">[Finish]</a>
								{{/active}}
								{{^any_active?}}
									{{#startable}}
								<a href="/admin/physical-count.php?action=start&amp;physical_count_id={{physical_count_id}}" class="start">[Start]</a>
									{{/startable}}
								{{/any_active?}}
							</td>
							<td>
								{{#active}}
								<label for="count_upload"><strong>Upload:</strong></label><br>
								<input type="file" id="count_upload" name="count_upload" accept=".xlsx"><br>
								<input type="submit" value="Upload">
								{{/active}}
							</td>
						</tr>
						{{/physical_counts}}
					</tbody>
				</table>
			</form>
		</div-->
		<div id="scan-errors">
		</div>
		<form id="scan-form" action="/admin/put-away.php" method="post">
			<input type="hidden" id="scan-action" name="action" value="bin-lookup">
			<table id="put_away_scanner" class="putaway">
				<thead>
					<tr>
						<th>Bin #</th>
						<th>Style</th>
						<th>IPN</th>
						<th>Serial</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input id="scan_bin_number" type="text" name="bin_number"></td>
						<td>
							[<input id="scan_bin_slotted" checked type="radio" name="bin_style" value="slotted"> Slotted]
							[<input id="scan_bin_bulk" type="radio" name="bin_style" value="bulk"> Bulk]
						</td>
						<td><input id="scan_ipn" type="text" name="ipn"></td>
						<td><input id="scan_serial" type="text" name="serial"></td>
						<td>
							<!--input type="button" id="scan-assign" value="Assign">
							<input type="button" id="scan-unassign" value="Unassign">
							<input type="button" id="scan-reassign" value="Reassign"-->
						</td>
					</tr>
					<tr>
						<td colspan="5">
							Session:<!--br>
							<input type="button" id="scan-complete" value="Complete Session"-->
						</td>
					</tr>
				</tbody>
				<tbody id="session">
				</tbody>
			</table>
			<div>
				<input type="text" id="scan-form-controller" style="height:1px;">
			</div>
		</form>
	<!--/div-->
</td>
<script>
	var errsound = new Audio('{{static_files}}/audio/error.wav');

	function play_error() {
		errsound.currentTime = 0;
		errsound.play();
	}

	/*new ck.tabs({
		tabs_id: 'physical_count_tabs',
		tab_bodies_id: 'physical_count_tabs-body',
		default_tab_index: {{#upload}}1{{/upload}}{{^upload}}0{{/upload}},
		content_suffix: '-content'
	});*/

	/*jQuery('#scan_count').on('click', function() {
		jQuery('#scan_bin_number').focus();
	});*/

	function wait() {
		jQuery('#scan-form').addClass('waiting');
	}

	function is_waiting() {
		if (jQuery('#scan-form').hasClass('waiting')) {
			play_error();
			return true;
		}
		return false;
	}

	function clear_waiting() {
		jQuery('#scan-form').removeClass('waiting');
	}

	function create_error(err) {
		play_error();
		jQuery('#scan-form').addClass('error');
		var $cls = jQuery('<a href="#">[CLOSE]</a>').on('click', clear_error);
		jQuery('#scan-errors').html(err+' ').append($cls).toggle(true);
	}

	function error_exists() {
		if (jQuery('#scan-form').hasClass('error')) {
			play_error();
			return true;
		}
		return false;
	}

	function clear_error(e) {
		e.preventDefault();
		jQuery('#scan-errors').html('').toggle(false);
		jQuery('#scan-form').removeClass('error');
	}

	var control_codes = {
		'##BIN': 1,
		'##SLOTTED': 2,
		'##BULK': 3,
		'##SERIAL': 4,
		'##IPN': 5,
		//'##EMPTY': 6,
		'##ASSIGN': 7,
		'##UNASSIGN': 8,
		'##REASSIGN': 9
	};

	function control(code) {
		if (code === 1) jQuery('#scan_bin_number').val('').focus();
		else if (code === 2 || code === 3 || code === 4 || code === 5) {
			if (code === 2) jQuery('#scan_bin_slotted').click();
			else if (code === 3) jQuery('#scan_bin_bulk').click();
			jQuery('#scan_serial').val('').focus();
		}
		/*else if (code === 6) {
			jQuery('#scan_serial').focus().val('[[EMPTY]]');
		}*/
		else if (code === 7) {
			jQuery('#scan-action').val('assign');
			jQuery('#scan-form').submit();
		}
		else if (code === 8) {
			jQuery('#scan-action').val('unassign');
			jQuery('#scan-form').submit();
		}
		else if (code === 9) {
			jQuery('#scan-action').val('reassign');
			jQuery('#scan-form').submit();
		}
	}

	jQuery('#scan_bin_slotted, #scan_bin_bulk').on('click', function() {
		jQuery('#scan_serial').focus();
	});

	/*jQuery('#scan-form').on('click', function(e) {
		if (e.target.nodeName == 'INPUT') return;
		jQuery('#scan-form-controller').val('').focus();
	});*/

	jQuery('#scan_bin_number, #scan_ipn, #scan_serial, #scan-form-controller').on('keyup', function(e) {
		if (error_exists()) {
			e.preventDefault();
			return false;
		}

		if (is_waiting()) {
			e.preventDefault();
			return false;
		}

		var key = e.keyCode || e.which;

		if (key === 13) {
			e.preventDefault();

			var parts = jQuery(this).val().split('##');

			if (parts[1] != undefined) {
				jQuery(this).val(parts[0]);
				jQuery(this).trigger('scan:lookup');
				if (control_codes['##'+parts[1]] != undefined) {
					control(control_codes['##'+parts[1]]);
					// if we've changed the field value, leave it alone
					//if (control_codes[parts[1]] != undefined) jQuery(this).val('');
					return;
				}
			}
			else jQuery(this).trigger('scan:lookup');

			jQuery('#scan-form-controller').val('');
		}
	});

	jQuery('#scan_bin_number').on('scan:lookup', function() {
		var $self = jQuery(this);

		if ($self.val() == '') return;

		wait();

		jQuery.ajax({
			url: '/admin/put-away.php',
			type: 'get',
			dataType: 'json',
			data: { action: 'bin-lookup', ajax: 1, bin_number: $self.val() },
			success: function(data) {
				if (data.err) {
					create_error(data.err);
					clear_waiting();
					return;
				}

				//clear_results();
				for (var i=0; i<data.results.length; i++) {
					result_row(data.results[i]);
				}

				$self.select();

				clear_waiting();
			},
			error: function() {
				create_error('There was an error looking up this bin; please try again.');
				clear_waiting();
			}
		});
	});

	jQuery('#scan_ipn').on('scan:lookup', function() {
		if (jQuery(this).val() == '') return;

		wait();

		jQuery.ajax({
			url: '/admin/put-away.php',
			type: 'get',
			dataType: 'json',
			data: { action: 'ipn-lookup', ajax: 1, ipn: jQuery(this).val() },
			success: function(data) {
				// this only thing this does is create an error if this IPN doesn't exist
				if (data.err) create_error(data.err);
				clear_waiting();

				jQuery('#scan-form-controller').val('').focus();
			},
			error: function() {
				create_error('There was an error looking up this IPN; please try again.');
				clear_waiting();
			}
		});
	});

	jQuery('#scan_serial').on('scan:lookup', function() {
		if (jQuery(this).val() == '') return;

		wait();

		jQuery.ajax({
			url: '/admin/put-away.php',
			type: 'get',
			dataType: 'json',
			data: { action: 'serial-lookup', ajax: 1, serial: jQuery(this).val() },
			success: function(data) {
				// this only thing this does is create an error if this serial doesn't exist
				if (data.err) create_error(data.err);
				clear_waiting();

				jQuery('#scan-form-controller').val('').focus();
			},
			error: function() {
				create_error('There was an error looking up this serial; please try again.');
				clear_waiting();
			}
		});
	});

	jQuery('#scan-assign').on('click', function(e) {
		control(control_codes['##ASSIGN']);
	});

	jQuery('#scan-unassign').on('click', function(e) {
		control(control_codes['##UNASSIGN']);
	});

	jQuery('#scan-reassign').on('click', function(e) {
		control(control_codes['##REASSIGN']);
	});

	/*jQuery('#scan-form').submit(function(e) {
		var $self = jQuery(this);

		if (error_exists()) {
			e.preventDefault();
			return false;
		}

		if (is_waiting()) {
			e.preventDefault();
			return false;
		}

		//if ($self.hasClass('straight')) return true;

		wait();

		e.preventDefault();

		var fields = $self.serialize();

		jQuery.ajax({
			url: '/admin/put-away.php',
			type: 'post',
			dataType: 'json',
			data: fields+'&ajax=1',
			success: function(data) {
				if (data.err) {
					create_error(data.err);
					clear_waiting();
					return;
				}

				/*	if (jQuery('#scan_bin_slotted').is(':checked')) jQuery('#scan_bin_number').val('').focus();
					else jQuery('#scan_serial').focus();
				}

				jQuery('#scan_ipn').val('').prop('disabled', true);
				jQuery('#scan_serial').val('');* /

				clear_waiting();
			},
			error: function() {
				create_error('There was an error assigning or unassigning this bin; please try again.');
				clear_waiting();
				//$self.addClass('straight').submit();
			}
		});
	});*/

	function clear_results() {
		jQuery('#session').html('');
	}

	function result_row(row) {
		if (row.lookup) {
			jQuery('#session').prepend('<tr><td>Lookup:</td><td>'+row.bin+'</td><td><a href="/admin/ipn_editor.php?ipnId='+row.ipn+'" target="_blank">'+row.ipn+'</a></td><td>'+row.serial+'</td><td>'+row.assignment+'</td></tr>');
		}
		else {
			jQuery('#session').prepend('<tr><td>'+row.bin+'</td><td>'+row.bin_style+'</td><td><a href="/admin/ipn_editor.php?ipnId='+row.ipn+'">'+row.ipn+'</a></td><td>'+row.serial+'</td><td></td></tr>');
		}
	}

	jQuery('#scan_bin_number').focus();

	//setTimeout(function() { console.log('test'); jQuery('#scan_bin_number').focus(); }, 30);
</script>