<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
<style>
	#page-body { width:100%; padding:10px;  }
</style>
<td id="page-body">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Invoice Id</th>
				<th>Name</th>
				<th>Date</th>
				<th>Email</th>
				{{#top_admin}}
				<th></th>
				{{/top_admin}}
			</tr>
		</thead>
		<tbody>
			{{#invoices}}
			<tr>
				<td>{{invoice_id}}</td>
				<td>{{name}}</td>
				<td>{{date}}</td>
				<td>{{email}}</td>
				{{#top_admin}}
				<td>
					<form method="POST" action="/admin/ghost-invoices">
						<input type="hidden" name="action" value="delete-invoice">
						<input type="hidden" name="invoice_id" value="{{invoice_id}}">
						<button type="submit" class="btn btn-danger btn-sm">
							<i class="fas fa-trash"></i>
						</button>
					</form>
				</td>
				{{/top_admin}}
			</tr>
			{{/invoices}}
		</tbody>
	</table>
</td>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>