#PRODUCTION MANAGED FILES
/sitemap.xml
/sitemap-index.xml

/admin/images/fedex/**/*.jpg
/admin/images/fedex/**/*.png
/admin/images/fedex2/**/*.jpg
/admin/images/fedex2/**/*.png
/admin/images/fedex/post.txt
/admin/images/return-labels/**/*.gif
/admin/images/return-labels/**/*.jpg
/admin/images/return-labels/**/*.png

/includes/templates/cache/__Mustache_*.php

/customer-feeds/**/*.csv

/feeds/*.txt
/feeds/*.csv
/feeds/*.xls
/feeds/*.xlsx
/feeds/*.xml
/feeds/*.xml.gz
/feeds/*.html

/images/**/*.jpg
/images/**/*.JPG
/images/**/*.png
/images/**/*.PNG
/images/**/*.gif
/images/**/*.GIF
/images/**/*.jpeg
/images/**/*.webp
/images/**/*.pdf
!/images/static/**/*
/images/static/img/**/*.jpg
/images/static/img/*.jpeg
/images/static/img/*.png
/images/static/img/*.gif
/images/static/img/*.webp
/images/static/assets/
/images/static/img/**/*.png
/images/static/img/*.svg

/admin/**/*.txt
/admin/**/*.csv
/admin/**/*.xlsx
/admin/reports/*.html
/admin/data_management/*.csv
/admin/data_management/*.txt
/admin/data_management/*.xlsx

#CONFIG
/config/amazon_aws.php
/config/avatax.php
/config/config.ini
/config/fedex.php
includes/configure.php
admin/includes/configure.php

#LIBS
includes/engine/_composer.phar
includes/engine/vendor/*

#DOCKER
docker/.myenv
docker/logs/*
docker/mysql/db/2-db-dump.sql.gz
docker/mysql/db/3-paymentservicedb_dev_dump.sql
docker/data/*
docker/.docker-sync/*
docker/php/config/webapp/config/config.ini
docker/ssh-key.pem
docker/apache/server.crt
docker/apache/server.key
docker/aws/scripts/instance-setup.sh
docker/aws-ssh
docker/aws-ssh.pub
#code tarball
docker/apache/Matrix-oSc.tar.gz
docker/php/Matrix-oSc.tar.gz

#DEV
dev/