<div id="recent-order-message">Recent Orders</div>
	<div class="most-recent-orders">
		<table class="customer-recent-account-table">
			<thead>
				<tr>
					<th>Order #</th>
					<th>Date Purchased</th>
					<th class="desktop-only">PO #</th>
					<th>Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#orders}}
				<tr class="main-order-rows">
					<td class="order-bold">{{order_id}}</td>
					<td>{{date_purchased}}</td>
					<td class="desktop-only">{{po_number}}</td>
					<td>{{orders_status}}</td>
					<td>{{order_total}}</td>
					<td><i class="fas fa-chevron-circle-left expand-order-details" data-order-id="{{order_id}}"></i></td>
				</tr>
				<tr class="hidden-order-details" id="order-details-{{order_id}}">
					<td colspan="6">
						<table class="order-details-table">
							<thead>
								<tr>
									<th>Model Number</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								{{#order_products}}
								<tr class="order-line">
									<td class="order-img-model">
										<a href="{{url}}" target="_blank">
											<img src="{{cdn}}/{{product_image}}">
											{{model_number}}
										</a>
									</td>
									<td>{{quantity}}</td>
									<td>{{price}}</td>
								</tr>
								{{/order_products}}
							</tbody>
						</table>
					</td>
				</tr>
				{{/orders}}
			</tbody>
		</table>
	</div>
</div>
<script>
	jQuery('.expand-order-details').on('click', function () {
		let order_id = jQuery(this).attr('data-order-id');
		jQuery('#order-details-'+order_id).slideToggle(200);
		if (jQuery(this).hasClass('fa-chevron-circle-left')) {
			jQuery(this).removeClass('fa-chevron-circle-left');
			jQuery(this).addClass('fa-chevron-circle-down');
		}
		else if (jQuery(this).hasClass('fa-chevron-circle-down')) {
			jQuery(this).removeClass('fa-chevron-circle-down');
			jQuery(this).addClass('fa-chevron-circle-left');
		}
	});
</script>
